<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITMO - Materials</title>
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/ba5e826df0.js"></script>
<!--    <link rel="stylesheet" href="css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="css/fonts.css">-->
    <link rel="shortcut icon" href="img/fav.ico" type="image/x-icon">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>
<body>

   <div class="wrapper">
       <div class="page">
           <aside id="sidebar">
               <span class="close-side">close</span>
               
               <div class="menu">
                    <div class="data">
                        <p class="col-md-8">24 марта 2017 г.</p>
                        <p class="col-md-3"><i class="fa fa-check-square-o" aria-hidden="true"></i></p>
                    </div>

                    <div class="person">
                        <div class="col-md-10">
                           <a href="#">
                                <img src="img/eliza.jpg" alt="Elizabet Holms">
                                <div class="person-name">
                                    <p>Элизабет Холмс</p>    
                                    <p>web-разработчик</p>    
                                </div>               
                           </a>
                        </div>
                    </div>

                    <div class="navigation no-gutter">
                        <ul class="col-md-12">

                            <li>
                                <a href="index.html">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span>Домашняя</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">                     
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                    <span>Сообщения</span>
                                </a>
                            </li>

                            <li class="active">
                                <a href="#">
                                    <i class="fa fa-flask" aria-hidden="true"></i>
                                    <span>Материалы по курсу</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                    <span>Чат группы</span> 
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <span>Расписание занятий</span>  
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>  
                                    <span>Посещаемость</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                                    <span>Тестовая система</span>   
                                </a>
                            </li> 

                            <hr>

                            <a href="#" >
                                <span class="profile">Профиль пользователя</span> 
                            </a> 

                        </ul>
                    </div>
                </div> 
           </aside>
           
           <div id="content">
               <div class="section">
                    <!-- верхнее меню контента-->
                    <div class="container-menu">
                        <a href="#" class="col-md-11 hide-block">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="col-md-1 settings">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!-- верхнее меню контента end -->